body{
    background-color: teal;
    width:100%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px
}
#form{
    background-color: black;
    border-radius: 20px;
    width: 28em;
    height: 13em;
    margin-left: 30%;
    margin-top: 15%;
    padding-left: 2em;
    padding-top: 2em;
}
#form1{
    color:teal;
    font-size: 3em;
    
}
#butform{
    width: 9em;
    height: 2.5em;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    cursor: pointer;
    
}
#texform{
    width: 20em;
    height: 2em;
    font-size: 15px;
    font-weight: 800;
    outline: none;
}

