body{
    background-color: teal;
    width:90%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px
}
#form{
    background-color: black;
    border-radius: 20px;
    width: 28em;
    height: 15em;
    margin-left: 35%;
    margin-top: 20%;
    padding-left: 2em;
    padding-top: 2em;
}
#form1{
    color:teal;
    font-size: 4em;
    
}
#butform{
    width: 10em;
    height: 3em;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    cursor: pointer;
    
}
#texform{
    width: 22em;
    height: 3em;
    font-size: 17px;
    font-weight: 800;
    outline: none;
}
